* { 
	margin: 0;
	padding: 0;
}
html {
	background-image: url("../images/PS2 wp.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}
body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	width: 95%;
	max-width:960px;
	background-color: white;
	margin: 0 auto; 
	padding: 0;
	border: 3px solid black;
	box-shadow: 0 9px 18px 9px;
}
table {
	border: 1px solid black;
	border-collapse: collapse;
	color: white;	
}
th, td {
	border:1px solid black;
	padding: .2em .7em;
	text-align: right;
}
th.left, td.left{
	text-align: left;
	color: black;
} 
td.textcolor{
	color:black;
}
thead, tfoot{
	background-color: #00205B;
}

header { 
    background-image: -webkit-linear-gradient(-45deg, black 10%, yellow 25%, orange 75%, blue 100%);
    background-image: -moz-linear-gradient(-45deg, black 10%, yellow 25%, orange 75%, blue 100%);
    background-image: -o-linear-gradient(-45deg, black 10%, yellow 25%, orange 75%, blue 100%);
    background-image: linear-gradient(-45deg, black 10%, yellow 25%, orange 75%, blue 100%);
    padding: 15px;
} 
header img { 
	float: left; 
	padding-right: 1.875%;
	margin-top: -5px;
	width:10%;
	min-width:30px;
	max-width:93px;
} 
header h2 {
	font-size: 250%;
	font-family: elephant, verdana;
	text-align:  center;
}
header h3 {
	font-size: 125%;
	padding-bottom: .75em;
}

#nav_menu {
	clear: left;
}
#nav_menu ul {
	list-style: none;
}
#nav_menu li {
	border-right: 1px solid white;
}
#nav_menu li:last-child {
	border-right: 1px solid black;
}
#nav_menu > ul > li {
	float: left;
	width: 19.897%;
	position: relative;
}
#nav_menu ul ul {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 2;
}
#nav_menu ul ul li {
	float: none;
	border-right: none;
}
#nav_menu ul li:hover > ul {
	display: block;
	width: 100%;
}
#nav_menu ul li:hover > ul li:hover > ul {
	margin-top: 80px;
}
#nav_menu > ul::after {
	content: "";
	clear: both;
	display: block;
}
#nav_menu ul {
	margin: 0;
	padding: 0;
}
#nav_menu ul li a {
	text-align: center;
	display: block;
	padding: .7em 0;
	text-decoration: none;
	background-color: black;
	color: white;
}
#nav_menu ul li a.current {
	color: white;
}
#nav_menu ul li a:hover, #nav_menu ul li a:focus {
	background-color: orange;
}
#nav_menu ul ul ul {
	top: 0;
	left: 100%;
}

#nav_list {
	float: left;
	width: 19.897%;
	padding: 1.25em 0;
	border-right: 1px solid white;
}
#nav_list ul { 
	list-style: none;
	width: 68.75%;
	padding-left: 2.25em;
}
#nav_list ul li { 
	width: 110px;
	margin-bottom: .5em;
	border: 4px solid black; 
	border-radius: 8px;
}
#nav_list ul li a {
	display: block;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	background-color: grey;
	padding: .5em 0 .4em 0;
	color: black;
}
#nav_list ul li a.current {
	color: red;
}
#nav_list ul li:hover {
	box-shadow: 5px 5px 2px grey;
}
#nav_list ul li a:hover {
	background-color: orange;
}
#sidebar {
	float: right;
	position: relative;
	width: 17.897%;
	padding: 1.25em 1%;
	
}
#sidebar p {
	margin-bottom: 10px;
	text-align: center;
}
#sidebar img {
	padding-left: 20%;
	float: right;
}

article {
	width: 54%;
	float: right;
	position: relative;
	padding: 1.25em 3% 1.25em 3%;
	z-index: 1;
}
article h1 {
	font-size: 160%;
	margin-top: .4em;
	margin-bottom: .5em;
}
article h1:first-letter{
	font-size:200%;
}
article h2{
	font-size: 130%;
}
article h3 {
	font-size: 120%;
	font-weight: normal;
}
article p {
	text-indent: 40px;
}
article img {
	display: inline-block;
	margin: 4em 1.25em 0 1.25em;
	border: 4px solid black; 
}
article figure img {
	margin: 1em 0;
}
label {
	width: 6em;
	float: left;
	text-align:right;
}
input {
	margin-left: 1em;
	margin-bottom: .5em;
	width: 25em;
}
select {
	margin-left: 1em;
	margin-bottom: .5em;
	width: 15em;
}
textarea {
	margin-top: .5em;
    margin-left: 3em;
	margin-bottom: .5em;
}
#button {
	float: left;
	display: inline-block;
	margin-top: .5em;
	margin-left: 15%;
	padding: .5em 0;
	width: 8em;
	background-color: yellow;
	border: 2px solid black;
}
aside #button {
	margin-bottom:1em;
}
aside input {
	margin-left: .5em;
	margin-right: .5em;
	width: 1em;
}

footer { 
	clear: both;
	border-top: 2px solid black;
	padding: 0.9375em 1.875% 0.9375em 1.875%;
    background-image: -webkit-linear-gradient(-45deg, black 10%, yellow 25%, orange 75%, blue 100%);
    background-image: -moz-linear-gradient(-45deg, black 10%, yellow 25%, orange 75%, blue 100%);
    background-image: -o-linear-gradient(-45deg, black 10%, yellow 25%, orange 75%, blue 100%);
    background-image: linear-gradient(-45deg, black 10%, yellow 25%, orange 75%, blue 100%);
	text-align: center;
} 
footer p {
	font-size: 90%;
	text-align: center;
}
#mobile_menu { display: none; }

@media only screen and (max-width:1027px) {
	#nav_menu {
		display:none;
	}
	#mobile_menu {
		display:block;
	}
	header h2 {
		font-size:200%;
	}
	article {
		width:90%;
		clear: both;
		position:relative;
		padding-left:5%;
		padding-bottom:1em;
	}
	article img {
		margin: 1.5em 0 0 1em;
	}
	#nav_list {
		clear: both;
		width: 90%;
		position: relative;
		padding: 1em 0 1em 5%;
		border: none;
	}
	#nav_list ul {
		width: 90%
	}
	#nav_list ul li {
		display: inline-block;
	}
	#sidebar {
		display:none;
	}
}